doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Shop Homepage - Start Bootstrap Template
    // Bootstrap core CSS
    //- link(href='css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    // Custom styles for this template
    link(href='css/shop-homepage.css', rel='stylesheet')
  body
    .container
      h2 Basic Modal Example
      // Trigger the modal with a button
      button.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#myModal') Open Modal
      // Modal
      #myModal.modal.fade(role='dialog')
        .modal-dialog
          // Modal content
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') ×
              h4.modal-title Modal Header
            .modal-body
              p Some text in the modal.
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
    // Bootstrap core JavaScript
    script(src='js/jquery.min.js')
    //- script(src='js/bootstrap.min.js')
    //- script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
